<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>아파트 실거래 정보</title>
  </head>
  <body>
    <div class="w-full h-40">
      <div class="w-5xl h-full mx-auto">
        <h1
          class="text-3xl h-full text-[#293681] font-bold flex justify-center items-center"
        >
          대구광역시 아파트 실거래 정보 데이터
        </h1>

        <div class="w-full">
          <form action="/search" class="flex gap-4">
            <select class="border w-40" name="DEAL_YMD">
              <option value="202501">2025년 01월</option>
              <option value="202502">2025년 02월</option>
              <option value="202503">2025년 03월</option>
              <option value="202504">2025년 04월</option>
              <option value="202505">2025년 05월</option>
              <option value="202506">2025년 06월</option>
              <option value="202507">2025년 07월</option>
              <option value="202508">2025년 08월</option>
              <option value="202509">2025년 09월</option>
              <option value="202510">2025년 10월</option>
              <option value="202511">2025년 11월</option>
              <option value="202512">2025년 12월</option>
              <option value="202601">2026년 01월</option>
              <option value="202602">2026년 02월</option>
              <option value="202603">2026년 03월</option>
              <option value="202604">2026년 04월</option>
              <option value="202605">2026년 05월</option>
              <option value="202606">2026년 06월</option>
            </select>
            <select class="border w-40" name="LAWD_CD">
              <option value="27260">대구광역시 수성구</option>
              <option value="27230">대구광역시 북구</option>
              <option value="27110">대구광역시 중구</option>
              <option value="27200">대구광역시 남구</option>
              <option value="27170">대구광역시 서구</option>
              <option value="27140">대구광역시 동구</option>
              <option value="27290">대구광역시 달서구</option>
              <option value="27710">대구광역시 달성군</option>
              <option value="27720">대구광역시 군위군</option>
            </select>
            <button
              class="bg-blue-700 text-white px-4 py-2 rounded cursor-pointer"
            >
              조회하기
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
