<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>아파트 실거래 정보</title>
  </head>
  <body>
    <div class="w-full h-40">
      <div class="w-5xl h-full mx-auto">
        <h1
          class="text-3xl h-full text-[#293681] font-bold flex justify-center items-center"
        >
          17기 아파트 실거래 정보 데이터
        </h1>

        <div class="w-full">
          <form action="/search" class="flex gap-4">
            <select class="border w-40" name="DEAL_YMD">
              <option value="202601">2026년 01월</option>
              <option value="202602">2026년 02월</option>
              <option value="202603">2026년 03월</option>
              <option value="202604">2026년 04월</option>
              <option value="202605">2026년 05월</option>
              <option value="202606">2026년 06월</option>
            </select>
            <select class="border w-40" name="LAWD_CD">
              <option value="27110">대구광역시 중구</option>
              <option value="27260">대구광역시 수성구</option>
              <option value="27170">대구광역시 서구</option>
              <option value="27230">대구광역시 북구</option>
              <option value="27140">대구광역시 동구</option>
            </select>
            <button
              class="bg-blue-700 text-white px-4 py-2 rounded cursor-pointer"
            >
              조회하기
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
