<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>검색 결과 | 맛집 스크래퍼</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1>
        🔥 총 {{ count }}개의 '대구 수성구 {{ keyword }}' 데이터 수집 완료
      </h1>
      <p>교육센터(대흥동 알파시티) 및 시지 권역의 검색 결과 리스트입니다.</p>

      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
        "
      >
        <a href="/download?keyword={{keyword}}">
          <button class="contrast">수집된 데이터 CSV 파일로 저장하기</button>
        </a>
        <span
          style="
            background-color: #f4f5f6;
            color: #555;
            padding: 6px 12px;
            border-radius: 6px;
            font-weight: bold;
            border: 1px solid #ccc;
          "
        >
          ℹ️ 데이터 출처: 다이닝코드(Diningcode)
        </span>
      </div>

      <div>
        <table>
          <thead>
            <tr>
              <th style="width: 8%">No</th>
              <th style="width: 35%">식당명</th>
              <th style="width: 20%">음식 종류</th>
              <th style="width: 37%">주소</th>
            </tr>
          </thead>
          <tbody>
            {% for idx, matzip in matzips %}
            <tr>
              <td>{{ idx + 1 }}</td>
              <td><strong>{{ matzip.name }}</strong></td>
              <td><mark>{{ matzip.category }}</mark></td>
              <td>{{ matzip.address }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
